extends layout
block content
  .row.banner
    .col-12
      h2= title
  .row
    .col-12.col-lg-8
      p
        | Siamsa Tíre, The National Folk Theatre of Ireland, is one of Ireland’s busiest and most vibrant arts centres. We provide live family entertainment and performances of traditional Irish music, song and dance, from our beautiful centre in Tralee, Co Kerry.
        | <br /><br />
        | Siamsa Tíre works to ensure that people of all ages and backgrounds can explore, understand, feel at home and enjoy Irish folk culture: its past, present and future. At Siamsa Tíre, The National Folk Theatre of Ireland, we bring people together to share stories and skills and explore Irish folk culture with joyful curiosity. 
        | <br /><br />
        h2 Preserving and Promoting Irish Folk Culture. 
        | Irish folk culture is not a tangible product nor an artefact of history. It is our living cultural heritage, alive in us, now, here, together, being ourselves. It is rooted in social connection and the passing on of skills across generations and among close-knit communities both intimate and large scale. It is a value system, a philosophy, a way of living, thinking, behaving and being. It is part of Ireland’s acknowledged soft power in world affairs. Passed from parent to child,from neighbour to neighbour, our intangible cultural heritage evolves with and shapes the people and communities who experience it and who are inspired by it. The visible output of Irish folk culture encompasses performing arts practices; our craftwork and handiwork; our oral traditions and expressions, including our language as both a vehicle and repository of our cultural identity; our folklore, myths, and legends; the demonstration of our enduring social values; our customs, rituals and festive events; our understanding of and interaction with nature and the universe. At Siamsa Tíre, The National Folk Theatre of Ireland, we bring people together to share stories and skills and explore Irish folk culture with joyful curiosity.